<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Bean Generator"
            id="org.easy4.tools.beangenerator">
      </category>
      <wizard
            name="Bean Generator Wizard"
            icon="icons/sample.gif"
            category="org.easy4.tools.beangenerator"
            class="org.easy4.tools.generator.wizards.MainWizard"
            id="org.easy4.tools.beangenerator.wizards.Wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.easy4.tools.generator.preferences.PreferencePage"
            id="org.easy4.tools.generator.preferences.PreferencePage"
            name="BeanGenerator"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.easy4.tools.generator.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>

</plugin>
