<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Eclipsender"
            id="org.easy4.tools.eclipsender.plugin.buddylist">
      </category>
      <view
            name="Buddy List"
            icon="icons/sample.gif"
            category="org.easy4.tools.eclipsender.plugin.buddylist"
            class="org.easy4.tools.eclipsender.plugin.views.BuddyListView"
            id="org.easy4.tools.eclipsender.plugin.views.BuddyListView">
      </view>
   </extension>

</plugin>
